<!DOCTYPE html>
<html>
<head>
    <title>BMI Calculator</title>
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <div class="container">
        <h1>BMI Calculator</h1>
        <p>
            Welcome to the BMI Calculator! Enter your weight and height below to calculate your Body Mass Index (BMI).
        </p>
        <form method="post" action="/">
            <label for="weight">Weight (kg):</label>
            <input type="number" step="0.01" name="weight" required><br>
            <label for="height">Height (cm):</label>
            <input type="number" step="0.01" name="height" required><br>
            <input type="submit" value="Calculate">
        </form>
    </div>
</body>
</html>
