::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
  
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: orange; 
  border-radius:20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black; 
}




header {
  max-width: 98%;
  height: 100vh;
  background: url(https://socialify.git.ci/avinashkranjan/Amazing-Python-Scripts/image?description=1&forks=1&issues=1&language=1&logo=https%3A%2F%2Fuser-images.githubusercontent.com%2F55796944%2F104455539-7258a200-55cd-11eb-90dc-7c9981e73d72.png&owner=1&pulls=1&stargazers=1&theme=Light)
    no-repeat;
  background-size: 100% 100%;

  /* background: url(https://media.giphy.com/media/xT9IgzoKnwFNmISR8I/giphy.gif); */
}
.block {
  text-align: center;
  color: white;
  background-color: rgba(83, 75, 83, 0.8);
}
.image-part {
  width: auto;
  background: url(../images/AmazingPyScripts.jpeg) repeat 100% 50%;
  background-size: cover;
  border-radius: 30%;
  height: 250px;
}
#intro-heading {
  text-align: center;
  margin-top: 10px;
}
#intro {
  margin-top: 5px;
  margin-left: 40px;
  letter-spacing: 1px;
  line-height: 1.3;
  font-weight: lighter;
  font-style: oblique;
  font-size: 18px;
  text-align: center;
}
.contri {
  width: 100%;
  background-color: white;
}

.footer #button {
  width: 35px;
  height: 35px;
  border: #727172 12px solid;
  border-radius: 35px;
  margin: 0 auto;
  position: relative;
  transition: all 1s ease;
}
.footer #button:hover {
  width: 35px;
  height: 35px;
  border: #3a3a3a 12px solid;
  transition: all 1s ease;
  position: relative;
}
.footer {
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 2em;
  overflow: hidden;
  margin: 0 auto;
  transition: all 1s ease;
  z-index: 999;
}
.footer:hover {
  transition: all 1s ease;
  height: 10em;
}
.footer #container {
  margin-top: 5px;
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  background: #3a3a3a;
}
.footer #section-1 {
  margin-top: 25px;
  color: whitesmoke;
  font-weight: 100;
  text-align: center;
}
.footer #section-2 {
  margin-top: 25px;
  color: whitesmoke;
  text-align: center;
}
.footer #section-3 {
  margin-top: 25px;
  color: whitesmoke;
  font-weight: 100;
  text-align: center;
}

.container-fluid {
  background-color: rgb(74, 80, 75);
}
.nav-link {
  font-size: 22px;
  font-weight: 600;
  margin-right: 20px;
  /* text-decoration: underline; */
  color: aliceblue !important;
}

.nav-link:hover {
  font-weight: 600;
  color: rgb(119, 241, 63) !important;
}

.navbar-toggler-icon {
  background-color: white;
}

.navbar-light .navbar-toggler {
  background-color: aliceblue;
}
a.nav-link {
  font-size: x-large;
}

.navbar > .container,
.navbar > .container-fluid {
  padding-top: 15px;
  padding: 0 10px;
  padding-top: 2px;
}

.d-flex {
  margin-bottom: 20px;
}
.navbar-toggler {
  margin-bottom: 10px;
  margin-top: 5px;
  width: 52px;
}
.fa-python:before {
  content: '\f3e2';
  font-size: x-large;
}
.navbar {
  padding-left: 10px;
}

.contributor-name {
  padding: 15px 0 15px 15px;
}

.contributor-card {
  width: 180px !important;
  border: 2px solid #000;
}

.row {
  width: 100% !important;
}
