body {
  background-color: white;
  /* background-image: linear-gradient(to right, #434343 0%, black 100%); */
}

.card {
  box-shadow: rgba(0, 0, 0, 5) 0px 2px 1px, rgba(0, 0, 0, 5) 0px 4px 2px,
    rgba(0, 0, 0, 5) 0px 8px 4px, rgba(0, 0, 0, 5) 0px 16px 8px,
    rgba(0, 0, 0, 5) 0px 32px 16px;
    border-radius: 10px;
  transition: all 1s;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 5) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  transform: scale(1.02);
}

.navbar {
  width: 100%;
  height: 100%;
  background: url(https://socialify.git.ci/avinashkranjan/Amazing-Python-Scripts/image?description=1&forks=1&issues=1&language=1&logo=https%3A%2F%2Fuser-images.githubusercontent.com%2F55796944%2F104455539-7258a200-55cd-11eb-90dc-7c9981e73d72.png&owner=1&pulls=1&stargazers=1&theme=Light) no-repeat;
  background-size: cover;
  padding-bottom: 0;
  padding-top: 0;
}

body {
  margin-bottom: 3%;
}

.container {
  display: flex;
}

.col-md-3 {
  margin-top: 5%;
}

.img-fluid {
  max-height: 100%;
}

#loadmore {
  display: none;
}

.card-body p a {
  text-decoration: none;
}

.container-fluid {
  background-color: rgb(74, 80, 75);
}

.nav-link {
  font-size: 22px;
  font-weight: 600;
  margin-right: 20px;
  color: aliceblue !important;
}

.navbar>.container,
.navbar>.container-fluid {
  padding-top: 15px;
  padding: 0 10px;
  padding-top: 2px;
}

.nav-link:hover {
  color: rgb(119, 241, 63) !important;
}

.btn-danger,
.btn-success {
  height: 34px;
  font-size: 16px;
  margin-right: 20px;
  padding: 0 15px;
  color: rgb(247, 243, 238);
  font-weight: 500;
  vertical-align: middle;
}

.navbar-light .navbar-toggler {
  background-color: aliceblue;
}

a.nav-link {
  font-size: x-large;
}

.navbar>.container,
.navbar>.container-fluid {
  padding-top: 2px;
}

.d-flex {
  margin-bottom: 5px;
}

.navbar-toggler {
  margin-bottom: 10px;
  margin-top: 3px;
  width: 52px;
}

.fa-python:before {
  content: "\f3e2";
  font-size: x-large;
}

.hidden {
  display: none;
}

.top-heading {
  font-size: 56px;
  text-shadow: 2px 5px 5px gray;
  letter-spacing: 2px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin: 20px;
}

.card-body{
    transition: 1s linear;
}

.card-title {
  font-size: 1.7rem;
  height: 10vh;
  padding-top: 12px;
  font-weight: bold;
  text-align: center;
  color: rgb(62, 62, 241);
}

.card-body:hover{
  /* background-color: #a0c2f6; */
}
.card-text {
  min-height: 16vh;
  padding-top: 6px;
  text-align: center;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  font-weight: 550;
  padding-inline: 10%;
  text-align: start;

}

.logoGit{
  width: 40px;
  height: 40px;
}

.gitmain{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: auto ;
}

.author{
  color: black;
  padding-left: 5px;
  font-size: 1.2rem;
}

.author:hover{
  color: black;
}

.card-body p a:hover {
  color: red;
}

.btn-primary {
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
  background-color: #0d6efd;
  border-color: #0d6efd;
  width: 100%;
  margin-bottom: 12px;
}

.btn-primary:hover {
  border: none;
  color: black;
  box-shadow: radial-gradient(circle farthest-corner at 22.4% 21.7%,
      rgb(6, 13, 218) 0%,
      rgba(2, 83, 185, 1) 100.2%);
  background-image: linear-gradient(to right, #3630d6, #fafafb);
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px; /* Adjust the margin as needed */
}
.disabled{
  fill:grey;
  cursor: not-allowed;
}


.page-number-circle {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-color: #0D6EFD;
  border-radius: 50%;
  text-align: center;
  line-height: 24px;
  color: white;
  font-weight: bold;
  padding: 3px;
  margin: 0 5px;
}


/* card */