appdirs==1.4.4
args==0.1.0
click==7.1.2
clint==0.5.1
MouseInfo==0.1.3
mypy-extensions==0.4.3
pathspec==0.8.0
Pillow==8.3.2
prompt-toolkit==1.0.14
PyAutoGUI==0.9.50
pyfiglet==0.8.post1
PyGetWindow==0.0.8
Pygments==2.7.4
PyMsgBox==1.0.8
pyperclip==1.8.0
PyRect==0.1.4
PyScreeze==0.1.26
python3-xlib==0.15
PyTweening==1.0.3
regex==2020.9.27
selenium==3.141.0
six==1.15.0
toml==0.10.1
typed-ast==1.4.1
typing-extensions==3.7.4.3
urllib3==1.26.5
wcwidth==0.2.5
