absl-py==0.11.0
aniso8601==8.1.0
appdirs==1.4.3
argon2-cffi==20.1.0
asgiref==3.2.3
astroid==2.3.3
astunparse==1.6.3
async-generator==1.10
attrs==19.3.0
Automat==0.8.0
autopep8==1.5.2
backcall==0.2.0
beautifulsoup4==4.8.2
bleach==3.2.1
cached-property==1.5.2
cachetools==4.1.1
certifi==2020.6.20
cffi==1.13.2
chardet==3.0.4
click==7.1.2
colorama==0.4.3
constantly==15.1.0
cryptography==2.8
cssselect==1.1.0
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.0
Django==3.0.3
djangorestframework==3.11.0
entrypoints==0.3
filelock==3.0.12
flake8==3.8.4
Flask==1.1.2
Flask-RESTful==0.3.8
gast==0.3.3
google-auth==1.23.0
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
graphviz==0.15
grpcio==1.33.2
gunicorn==20.0.4
h5py==2.10.0
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
ipykernel==5.3.4
ipython==7.19.0
ipython-genutils==0.2.0
isort==4.3.21
itsdangerous==1.1.0
jedi==0.17.2
Jinja2==2.11.2
joblib==0.17.0
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-core==4.6.3
jupyterlab-pygments==0.1.2
jupyterthemes==0.20.0
Keras==2.4.3
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
lazy-object-proxy==1.4.3
lesscpy==0.14.0
lxml==4.5.0
Markdown==3.3.3
MarkupSafe==1.1.1
matplotlib==3.3.2
mccabe==0.6.1
mistune==0.8.4
MouseInfo==0.1.3
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.2
notebook==6.1.4
numpy==1.18.5
oauthlib==3.1.0
opencv-python==4.4.0.46
opt-einsum==3.3.0
packaging==20.4
pandas==1.1.4
pandocfilters==1.4.3
parsel==1.5.2
parso==0.7.1
pdfminer.six==20201018
pickleshare==0.7.5
Pillow==7.2.0
pipenv==2018.11.26
ply==3.11
praw==6.5.1
prawcore==1.0.1
prometheus-client==0.8.0
prompt-toolkit==3.0.8
Protego==0.1.16
protobuf==3.13.0
psycopg2==2.8.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.50
pycodestyle==2.6.0
pycparser==2.19
pycryptodome==3.9.9
PyDispatcher==2.0.5
pyflakes==2.2.0
PyGetWindow==0.0.8
Pygments==2.7.2
PyHamcrest==2.0.0
pylint==2.4.4
PyMsgBox==1.0.8
pyOpenSSL==19.1.0
pyparsing==2.4.7
PyPDF2==1.26.0
pyperclip==1.8.0
PyRect==0.1.4
pyrsistent==0.17.3
PyScreeze==0.1.26
pytesseract==0.3.6
python-dateutil==2.8.1
PyTweening==1.0.3
pytz==2019.3
pywin32==228
pywinpty==0.5.7
PyYAML==5.3.1
pyzmq==19.0.2
queuelib==1.5.0
requests==2.22.0
requests-oauthlib==1.3.0
rsa==4.6
scikit-learn==0.23.2
scipy==1.5.3
Scrapy==1.8.0
selenium==3.141.0
Send2Trash==1.5.0
service-identity==18.1.0
six==1.14.0
sklearn==0.0
slr-parser==0.3.0
sortedcontainers==2.3.0
soupsieve==1.9.5
sqlparse==0.3.0
tensorboard==2.3.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.3.1
tensorflow-estimator==2.3.0
termcolor==1.1.0
terminado==0.9.1
testpath==0.4.4
threadpoolctl==2.1.0
tornado==6.1
traitlets==5.0.5
Twisted==19.10.0
update-checker==0.16
urllib3==1.25.8
virtualenv==20.0.5
virtualenv-clone==0.5.3
w3lib==1.21.0
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.57.0
Werkzeug==1.0.1
wrapt==1.11.2
zope.interface==4.7.1
