-e .
appdirs==1.4.4          #1.4.3
certifi==2023.7.22     #2018.1.18
chardet==3.0.4          # up to date
Django==3.1.14           #1.1
pytest-django
pytest-pythonpath
django-widget-tweaks==1.4.8 #1.4.1
idna==2.6               #2.6 - requests 2.18.4 requires <2.7
packaging==20.4         #16.8
pyparsing==2.4.7        #2.2.0
pyshorteners==1.0.1     #0.6.1
pytz==2020.1            #2017.3
requests==2.31.0        #2.18.4
# six==1.10.0
urllib3==1.26.5         #1.22  
djangorestframework==3.11.2  # up to date   
