jupyter 
scikit-learn 
pandas 
numpy 
matplotlib 
seaborn 
tensorflow 
flask 
openai
bs4
requests
pandas
requests
numpy
bs4
geopy
boto3
ndjson
selenium
httpx
lxml
python-dotenv
paramiko
undetected-chromedriver
fastjsonschema