certifi==2020.12.5
chardet==4.0.0
click==8.0.0
decorator==4.4.2
gTTS==2.2.2
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.3
moviepy==1.0.3
mutagen==1.45.1
numpy==1.20.3
pdf2image==1.15.1
Pillow==8.2.0
proglog==0.1.9
pytesseract==0.3.7
requests==2.25.1
six==1.16.0
tqdm==4.60.0
urllib3==1.26.4
