APScheduler==3.6.3
beautifulsoup4==4.9.3
certifi==2020.12.5
python-dateutil==2.8.1
python-decouple==3.4
python-telegram-bot==13.1
pytz==2020.4
requests==2.25.1
six==1.15.0
soupsieve==2.1
tornado==6.1
urllib3==1.26.2
