numpy==1.18.5
packaging==20.4
pandas @ file:///C:/ci/pandas_1592833613419/work
pandocfilters==1.4.2
pickleshare==0.7.5
qtconsole @ file:///tmp/build/80754af9/qtconsole_1592848611704/work
scikit-learn @ file:///C:/ci/scikit-learn_1592853510272/work
scipy @ file:///C:/ci/scipy_1592916963468/work
