google-api-python-client 
google-auth-httplib2 
google-auth-oauthlib
pathlib
pickleshare
typing
uuid
protobuf>=3.18.3 # not directly required, pinned by Snyk to avoid a vulnerability
rsa>=4.7 # not directly required, pinned by Snyk to avoid a vulnerability