  | Requirement |  Command         | Documentation |
--|-------------|------------------|---------------|
1.| Pygame      |pip install pygame|  Pygame/PyPi  |
--|-------------|------------------|---------------|