flake8==3.8.3
mccabe==0.6.1
numpy==1.19.2
pandas==1.1.2
pycodestyle==2.6.0
pyflakes==2.2.0
python-dateutil==2.8.1
pytz==2020.1
selenium==3.141.0
six==1.15.0
toml==0.10.1
urllib3==1.25.10
pyttsx3==3.7.8
speech_recognition==3.7.8
smtplib==3.7.8
difflib==3.7.8
