.navbar {
    width: 100%;
    height: 100%;
    background: url(https://socialify.git.ci/avinashkranjan/Amazing-Python-Scripts/image?description=1&forks=1&issues=1&language=1&logo=https%3A%2F%2Fuser-images.githubusercontent.com%2F55796944%2F104455539-7258a200-55cd-11eb-90dc-7c9981e73d72.png&owner=1&pulls=1&stargazers=1&theme=Light)
      no-repeat;
    background-size: cover;
    /* background: url(https://media.giphy.com/media/xT9IgzoKnwFNmISR8I/giphy.gif); */
  }
  body{
      margin-bottom: 3%;
  }
  .container{
      display: flex;
  }
 .col-md-3{
     margin-top: 5%;
 }
 .img-fluid{
     max-height: 100%;
 }
 .card{
     height:100%;
 }
 #loadmore{
    display: none;
}
.button{
    text-align: center;
    margin: 5%;
}
.card-body p a{
    text-decoration: none;
}