appdirs==1.4.4
beautifulsoup4==4.9.1
bs4==0.0.1
certifi==2020.6.20
chardet==3.0.4
cssselect==1.1.0
fake-useragent==0.1.11
idna==2.10
lxml==4.6.3
parse==1.18.0
pyee==7.0.4
pyppeteer==0.2.2
pyquery==1.4.1
requests==2.24.0
requests-html==0.10.0
six==1.15.0
soupsieve==2.0.1
tqdm==4.49.0
urllib3==1.26.5
w3lib==1.22.0
websockets==9.1
